/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Crimson Text', serif;
    background: linear-gradient(to right, #8C2F99, #B86182);
}

main {
    padding-top: 90px;
    /* Match navbar height */
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    z-index: 1000;
}

/* .logo a {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
} */

.logo a img {
    max-width: 150px;
    width: 100%;
    height: auto;

}

.hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Navigation links styling */
.nav-links {
    list-style: none;
    display: flex;
    /* gap: 60px; */
    gap: 3.75vw;
}

.nav-links button {
    display: none;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 10px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #8C2F99;
}

.book_now {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to right, #8C2F99, #B86182);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.book_now:hover {
    background: linear-gradient(to right, #B86182, #8C2F99);
}



/* nav bar mdeia query */
@media (max-width: 1245px) {
    .nav-links {
        gap: 2.5vw;
    }

    .logo a img {
        max-width: 110px;
        width: 100%;
        height: auto;
    }

    .nav-links li a {
        font-size: 1.2rem;
    }

    .book_now {
        width: 110px;
        height: 30px;
        border: none;
        font-size: 1.2rem;
        color: #fff;
        background: linear-gradient(to right, #8C2F99, #B86182);
        border-radius: 10px;
    }

}

@media (max-width: 1000px) {
    .nav-links li a {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    .nav-links li a {
        font-size: 1rem;
    }

    .book_now {
        width: 100px;
        height: 30px;
        border: none;
        font-size: 1.1rem;
        border-radius: 7px;
    }

    .logo a img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-links .book_now {
        display: block;
        margin: 20px;
        width: 80%;
        margin-top: -10px;
    }

    .navbar button {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: -100%;
        width: 250px;
        height: 100%;
        background: linear-gradient(to top, #8C2F99, #B86182);
        padding-top: 20px;
        transition: right 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        gap: 20px;
    }

    .nav-links.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav-links li {
        padding: 0px 20px;
        border-bottom: 0.5px dotted white;
        /* background-color: white;
        width: 80%;
        height: 30px; */
        text-align: center;
        border-radius: 5px;
        /* margin: 0 auto; */
    }

    .nav-links li a {
        color: white;
        font-size: 16px;
        font-weight: bolder;
        line-height: 30px;
    }

    .nav-links li a:hover {
        color: #ddd;
    }

    .logo a img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }

    .navbar {
        height: 70px;
    }
}

/* hero section  */
.hero {
    background-image: url(./images/eee.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding-top: 89px;
}

.hero-content {
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 4.9rem;
    background-color: rgba(255, 255, 255, 0.2);
    height: 174px;
    border-radius: 20px;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 200px;

}

.hero-content p {
    font-size: 2.7rem;
    width: 70%;
    height: 254px;
    margin: 48px auto 0 auto;
    font-weight: 500;
    text-align: center;
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 35px;

}

/* .book_app {
    width: 330px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #8C2F99, #B86182);
    border-radius: 20px;
}

.view_work {
    width: 206px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #8C2F99, #B86182);
    border-radius: 20px;
} */

.book_app {
    width: 330px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #8C2F99, #B86182);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for zoom */
}

.book_app::before,
.book_app::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
}

.book_app::before {
    top: 0;
    left: -100%;
    animation: button42-animation1 3s linear infinite;
}

.book_app::after {
    bottom: 0;
    right: -100%;
    animation: button42-animation1 3s linear infinite 0.75s;
}

.book_app:hover {
    transform: scale(1.05);
    /* Zoom effect on hover (5% larger) */
}

.view_work {
    width: 206px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #8C2F99, #B86182);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for zoom */
}

.view_work::before,
.view_work::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
}

.view_work::before {
    top: 0;
    left: -100%;
    animation: button42-animation1 3s linear infinite;
}

.view_work::after {
    bottom: 0;
    right: -100%;
    animation: button42-animation1 3s linear infinite 0.75s;
}

.view_work:hover {
    transform: scale(1.05);
    /* Zoom effect on hover (5% larger) */
}

@keyframes button42-animation1 {
    0% {
        left: -100%;
        right: 100%;
    }

    50% {
        left: 100%;
        right: -100%;
    }

    100% {
        left: -100%;
        right: 100%;
    }
}

/* hero section media query */
@media (max-width: 1245px) {
    .hero-content h1 {
        width: 60%;
        font-size: 3.5rem;
        height: 140px;
        padding-bottom: 150px;
    }

    .hero-content p {
        font-size: 2.3rem;
    }

    .btn_container {
        margin-top: -10px;
    }

    .hero {
        padding-top: 60px;
    }
}

@media (max-width: 1024px) {
    .hero-content h1 {
        width: 55%;
        font-size: 2.7rem;
        height: 110px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 2.2rem;
    }

    .btn_container {
        margin-top: 0;
    }
}

@media (max-width: 930px) {
    .hero-content h1 {
        width: 60%;
        font-size: 2.7rem;
        height: 115px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 2.2rem;
        width: 75%;
    }

    .btn_container {
        margin-top: 20px;
    }

    .book_app {
        width: 310px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;

    }

    .view_work {
        width: 186px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;

    }
}

@media (max-width: 800px) {
    .btn_container {
        gap: 150px;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 0;
    }

    .hero {
        height: 100vh;
        padding-top: 150px;
    }

    .hero-content h1 {
        width: 70%;
        font-size: 2.6rem;
        height: 105px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 2rem;
        width: 75%;
    }

    .btn_container {
        margin-top: 20px;
        gap: 100px;
    }

    .book_app {
        width: 220px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;
    }

    .view_work {
        width: 146px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;
    }
}

@media (max-width: 650px) {
    .hero-content h1 {
        width: 75%;
        font-size: 2.5rem;
        height: 95px;
        padding-bottom: 0;

    }
}

@media (max-width: 600px) {
    .hero-content h1 {
        width: 85%;
        font-size: 2.5rem;
        height: 95px;
        padding-bottom: 0;

    }
}

@media (max-width: 550px) {
    .hero-content h1 {
        width: 90%;
        font-size: 2.4rem;
        height: 90px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 1.8rem;
        width: 75%;
    }

    .book_app {
        width: 210px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;
    }

    .view_work {
        width: 136px;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 15px;
    }


}

@media (max-width: 500px) {
    .hero-content h1 {
        width: 95%;
        font-size: 2.3rem;
        height: 90px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 1.7rem;
        width: 75%;
    }
}

@media (max-width: 470px) {
    .hero-content h1 {
        width: 85%;
        font-size: 2.1rem;
        height: 90px;
        padding-bottom: 0;

    }

    .hero-content p {
        font-size: 1.7rem;
        width: 75%;
    }

    .btn_container {
        margin-top: 20px;
        gap: 70px;
    }
}

@media (max-width: 450px) {
    .book_app {
        width: 200px;
        height: 45px;
        font-size: 1rem;
        border-radius: 10.5px;
    }

    .view_work {
        width: 134px;
        height: 45px;
        font-size: 1rem;
        border-radius: 10.5px;
    }

    .btn_container {
        margin-top: 30px;
        gap: 30px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-content p {
        font-size: 2rem;
        width: 90%;
        text-align: left;
    }

    .hero-content h1 {
        width: 85%;
        font-size: 3rem;
        height: 80px;
        padding-bottom: 0;
        background: none;
        text-align: left;
    }

}

@media (max-width: 420px) {
    .hero-content p {
        font-size: 1.8rem;
        width: 90%;
        text-align: left;
    }

    .hero-content h1 {
        width: 85%;
        font-size: 2.8rem;
        height: 80px;
        padding-bottom: 0;
        background: none;
        text-align: left;
    }
}

@media (max-width: 375px) {
    .book_app {
        width: 169px;
        height: 45px;
        font-size: 0.8rem;
        border-radius: 10.5px;
    }

    .view_work {
        width: 103px;
        height: 45px;
        font-size: 0.8rem;
        border-radius: 10.5px;
    }

    .btn_container {
        margin-top: 50px;
        gap: 40px;
    }
}

@media (max-width: 351px) {
    .hero-content p {
        font-size: 1.6rem;
        width: 90%;
        text-align: left;
    }

    .hero-content h1 {
        width: 85%;
        font-size: 2.6rem;
        height: 80px;
        padding-bottom: 0;
        background: none;
        text-align: left;
    }

}

@media (max-width: 321px) {
    .hero-content p {
        font-size: 1.6rem;
        width: 90%;
        text-align: left;
        margin-top: 50px;
    }

    .hero-content h1 {
        width: 85%;
        font-size: 2.5rem;
        height: 95px;
        padding-bottom: 0;
        background: none;
        text-align: left;
    }

}


/* ABOUT */

/* .about {
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
} */

/* .about {
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
} */

/* Existing styles remain unchanged, update the .about section */
.about {
    color: white;
    text-align: center;

    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #8C2F99, #B86182);
    margin: 0;
    padding: 0;
}

.about canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.about h1,
.about p {
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.about h1 {
    font-size: 3.5rem;
    padding: 50px 0;
}

.about p {
    font-size: 2.25rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.last-p {
    border-bottom: 0.5px solid white;
    font-weight: bold;
    font-style: italic;
}

/* ABOUT SECTION MEDIA QUERY */
@media (max-width: 768px) {
    .about p {
        font-size: 1.8rem;
        width: 80%;

    }

}

@media (max-width: 425px) {
    .about p {
        font-size: 1.3rem;
        width: 85%;

    }

}

/* SERVICE SECTION */
.service {
    background-color: #B96282;
    padding-bottom: 50px;
}

.service h1 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.service-item {
    width: 350px;
    height: 497px;
    color: white;
    box-shadow: 0 6.78px 6.78px 0 #00000025;
    border-radius: 50px;
    padding: 28px 25px 28px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-item img {
    width: 100%;
    height: 307px;
    border-radius: 33.92px 33.92px 67.85px 67.85px;
}

.service-heading {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.service-text {
    font-size: 1.3rem;
    text-align: center;
    font-style: oblique;
    color: #dbd9d9;
}

.service-container> :nth-child(1) {
    background-color: #9B9FA6;
}

.service-container> :nth-child(2) {
    background-color: #DA9A7E;
}

.service-container> :nth-child(3) {
    background-color: #9C7A91;
}

.service-container> :nth-child(4) {
    background-color: #C0ACAF;
}

.service-container> :nth-child(5) {
    background-color: #ADAEB0;
}

.service-container> :nth-child(6) {
    background-color: #E0AE92;
}

/* SERVICE SECTION MEDIA QUERY */
@media (max-width: 1500px) {
    .service-item {
        width: 350px;
        height: 497px;
        border-radius: 50px;
        gap: 10px;
    }

    .service-item img {
        width: 100%;
        height: 307px;
    }

    .service-heading {
        font-size: 2rem;
    }

    .service-text {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .service-item {
        width: 300px;
        height: 420px;
        border-radius: 30px;
        gap: 10px;
    }

    .service-item img {
        width: 100%;
        height: 270px;
        border-radius: 23.92px 23.92px 57.85px 57.85px;
    }

    .service-heading {
        font-size: 1.7rem;
    }

    .service-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {

    .service-item {
        width: 181px;
        height: 280px;
        border-radius: 23.4px;
        gap: 7px;
        padding: 13px 11px 13px 11px;
    }

    .service-item img {
        width: 100%;
        height: 168px;
        border-radius: 15.35px 15.35px 30.69px 30.69px;
    }

    .service-heading {
        font-size: 1.5rem;
    }

    .service-text {
        font-size: 0.9rem;
    }
}

/* GALLERY SECTION */

.gallery {
    padding-bottom: 50px;
    text-align: center;
}

.gallery h1 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.gallery-btn {
    display: flex;
    width: 60%;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    background-color: white;
    margin: 0 auto;
}

button {
    border: none;
    font-weight: bold;
    font-size: 2rem;
    width: 50%;
    height: 32px;
    border-radius: 20px;
    background-color: white;
}

.btn-active {
    background: linear-gradient(to right, #8C2F99, #B86182);
    color: white;

}

.gallery-img {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal img {
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
}

/* GALLERY SECTION MEDIA QUERY */
@media (max-width: 425px) {
    button {
        font-size: 1rem !important;
        height: 20px;
        border-radius: 10px;
        background-color: white;
        color: black;
        line-height: 20px;
    }

    .gallery-btn {
        height: 30px;
        border-radius: 15px;
    }

}

@media (max-width: 600px) {
    button {
        font-size: 1.5rem;
        background-color: white;
    }

}

/* CONTACT SECTION  */

.contact {
    padding-bottom: 50px;
    text-align: center;
    background-color: #8C2F99;
}

.contact h1 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.contact-form {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-group textarea {
    height: 100px;
    resize: none;
}

form button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.contact-icon i {
    font-size: 24px;
    color: white;
}

.contact-icon i:hover {
    color: #333;
}

/* CONTACT SECTION MEDIA QUERY */

@media (max-width: 425px) {
    .form-group label {
        font-size: 14px;
    }
}

/* FOOTER SECTION MEDIA QUERY */
footer {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

footer h1 {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

.lux {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-style: italic;
}

.copy {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

hr {
    width: 80%;
    border: none;
    height: 0.7px;
    background-color: #fff;
}



/* FOOTER SECTION MEDIA QUERY */

@media(max-width:500px) {
    footer {
        padding: 30px;
        gap: 7px;
    }

    footer ul {
        gap: 20px;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    footer ul {
        font-size: 14px;
    }

    .lux {
        font-size: 14px;
    }

    .copy {
        color: white;
        font-size: 12px;

    }
}